---
title: HTML5 Boilerplate Middleman
---

.container
  %header.header
    %h1 FORM BUIDLER DEMO
  .main 
    #formbuilder
      #formFieldsBackground
        %form.form-search
          %input.input-small.search-query
          %button.btn.btn-small Search

        %form.form-horizontal#fields

      #formEditorBackground
      #formFieldInspectorBackground

  %footer
