---
title: HTML5 Boilerplate Middleman
---

.container
  %header.header
    %h1 FORM BUIDLER DEMO
  .main 
    #formbuilder
      #formFieldsBackground
        .search
          %input{:type => "field", :value => "Age"} Search
        #input.field

      #formEditorBackground
      #formFieldInspectorBackground

  %footer
